[submodule "colorvis"]
	path = docs/colorvis
	url = https://github.com/yuhao/colorvis.git
[submodule "metasapiens"]
	path = docs/metasapiens
	url = https://github.com/linwk20/metasapiens.github.io.git
[submodule "powergs"]
	path = docs/powergs
	url = https://github.com/linwk20/powergs_web.git
[submodule "docs/ctr"]
	path = docs/ctr
	url = https://github.com/horizon-research/ctr
