[submodule "colorvis"]
	path = colorvis
	url = https://github.com/yuhao/colorvis.git
[submodule "metasapiens"]
	path = metasapiens
	url = https://github.com/linwk20/metasapiens.github.io.git
[submodule "powergs"]
	path = powergs
	url = https://github.com/linwk20/powergs_web.git
[submodule "siggraph_et"]
	path = siggraph_et
	url = https://github.com/linwk20/siggraph_et_web.git
